.body{
    background-color: #E8E8E8;
    width: 100%;
    height: calc(100% - 60px);
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}
.loginContainer{
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    width: 25rem;
    height: 30rem;
    border-radius: 0;
    align-items: center;
    background-color:white;
}
.logo{
    margin-top: 10px;
}
.textfield{
    margin: 20px;

}
.text{

    align-self: flex-start;
}
.forgot-password{
    display: flex;
    margin-top: 1.5rem;
    width: 100%;
    justify-content: space-around;
}